* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  body {
    min-height: 100vh;
    background-image: url("https://m.media-amazon.com/images/M/MV5BMzU1MzAyNzUtY2FlZi00YTg1LTg2OGQtZjZjYzg3YWVlNGMyXkEyXkFqcGdeQW1yb2Njbw@@._V1_.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .cards-wrapper {
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 8px;
    width: 70%;
    height: 80vh;
    overflow-y: scroll;
    margin: 10vh auto;
    padding: 20px;
    border-radius: 15px;
    
  }
  .card {
    border: 1px solid orange;
    border-radius: 8px;
    padding: 8px;
  }

  .single-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .wrapper{
    border: 2px solid greenyellow;
  }

  .go-back-button{
      padding: 5px;
      margin: 10px;
      background-color: rgb(144, 181, 69);
      color: white;
      border-radius: 10px;
  }

  .pagination {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    
  }
  
  .pagination > button {
    padding: 10px;
    text-align: center;
  }

  .page-number{
    padding: 10px;
    border: 1px solid black;
    background-color: rgb(118, 240, 18);
    color: black;
  }

  .details{
    background-color: yellowgreen;
    color: white;
    padding-left: 10px;
  }

  .page-numbers{
     display: flex;
  }

  .number{
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    color: gray;
  }

  